    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Invitation</h2>
              <br/>
                <p>Together with their families.<br>Umang Mehta s/o Mukesh and Mrudula Mehta and Dhwani Shah d/o Mehul and Leena Shah</p>
                <p>Request the honor of your presence as they pledge their vows around the agni, a holy fire that acts as a witness to the ceremony</p>
                <p>With the first step, we will provide for and support each other.<br>With the second step, we will develop mental, physical, and spiritual strength.
                  <br>With the third step, we will share the worldly possessions.<br>With the fourth step, we will acquire knowledge, happiness, and peace.
                  <br>With the fifth step, we will raise strong and virtuous children.<br>With the sixth step, we will enjoy the fruits of all seasons.
                  <br>With the seventh step, we will always remain friends and cherish each other.</p>
                <br/>
              </div>
        </div>
    </section>
